div(class='site-nav button-primary')
  div(class='close-button-div')
    button(class='button-primary-outlined close-nav') x
  h3(class='cart-header') Goods
  div(id='category-list')
  h3(class='card-header') Cart
  div(id='cart-nav')
  div(class='text-right')
    a(
      href='/order'
    )
      button(class='button-primary-outlined') Order
